#i4459book3yestbutton div a:hover,
#i4449book1yestbutton div a:hover,
#i4378book3button div a.nmh,
#i4469book5yestbutton div a.nmh,
#i4378book3button div a.pmh,
#i4377book3button div a.nmh,
#i4465book4yestbutton div a.pm,
#i4474book6yestbutton div a.nmh,
#i3954book1button div a:hover,
#i4470book5yestbutton div a.pm,
#i4449book1yestbutton div a.nmh,
#i3939book1button div a.nmh,
#i4475book6yestbutton div a.pmh,
#i4475book6yestbutton div a.nmh,
#i4365book2button div a.nmh,
#i3939book1button div a.pmh,
#i4366book2button div a.nmh,
#i4454book2yestbutton div a.nmh,
#i4450book1yestbutton div a.pm,
#i4366book2button div a.pmh,
#i4455book2yestbutton div a.pmh,
#i4475book6yestbutton div a:hover,
#i4455book2yestbutton div a.nmh,
#i4460book3yestbutton div a.pmh,
#i4480book7yestbutton div a.nmh,
#i4465book4yestbutton div a:hover,
#i4480book7yestbutton div a.pmh,
#i4460book3yestbutton div a.nmh,
#i4474book6yestbutton div a:hover,
#i4455book2yestbutton div a:hover,
#i4366book2button div a:hover,
#i4464book4yestbutton div a:hover,
#i4454book2yestbutton div a:hover,
#i4381book4button div a.pm,
#i4464book4yestbutton div a.nmh,
#i4479book7yestbutton div a.nmh,
#i4465book4yestbutton div a.pmh,
#i4475book6yestbutton div a.pm,
#i4465book4yestbutton div a.nmh,
#i4378book3button div a:hover,
#i4365book2button div a:hover,
#i3939book1button div a:hover,
#i4380book4button div a:hover,
#i4378book3button div a.pm,
#i4470book5yestbutton div a.pmh,
#i4377book3button div a:hover,
#i4470book5yestbutton div a.nmh,
#i4459book3yestbutton div a.nmh,
#i4455book2yestbutton div a.pm,
#i3939book1button div a.pm,
#i4480book7yestbutton div a:hover,
#i4450book1yestbutton div a.pmh,
#i4381book4button div a:hover,
#i4460book3yestbutton div a.pm,
#i4470book5yestbutton div a:hover,
#i4480book7yestbutton div a.pm,
#i4450book1yestbutton div a.nmh,
#i4460book3yestbutton div a:hover,
#i3954book1button div a.nmh,
#i4366book2button div a.pm,
#i4381book4button div a.nmh,
#i4380book4button div a.nmh,
#i4479book7yestbutton div a:hover,
#i4450book1yestbutton div a:hover,
#i4381book4button div a.pmh,
#i4469book5yestbutton div a:hover  {
   background-position: -184px 0%;
}

#i7939boothsbutton div a.nmh,
#i7962boothsbutton div a:hover,
#i5488boothsbutton div a.nmh,
#i4430boothsbutton div a:hover,
#i7939boothsbutton div a:hover,
#i5462boothsbutton div a:hover,
#i8008boothsbutton div a:hover,
#i5488boothsbutton div a:hover,
#i7985boothsbutton div a.nmh,
#i5618boothsbutton div a.nmh,
#i4125boothsbutton div a.nmh,
#i5592boothsbutton div a.nmh,
#i5305boothsbutton div a:hover,
#i5592boothsbutton div a:hover,
#i7962boothsbutton div a.nmh,
#i5462boothsbutton div a.nmh,
#i4125boothsbutton div a:hover,
#i5305boothsbutton div a.nmh,
#i5566boothsbutton div a:hover,
#i5566boothsbutton div a.nmh,
#i5618boothsbutton div a:hover,
#i7985boothsbutton div a:hover,
#i5514boothsbutton div a.nmh,
#i8008boothsbutton div a.nmh,
#i4430boothsbutton div a.nmh,
#i5514boothsbutton div a:hover  {
   background-position: -166px 0%;
}

#i4378book3button div a.cmh,
#i4465book4yestbutton div a.cm,
#i3939book1button div a.cmh,
#i4366book2button div a.cmh,
#i4470book5yestbutton div a.cm,
#i4475book6yestbutton div a.cmh,
#i4450book1yestbutton div a.cm,
#i4480book7yestbutton div a.cmh,
#i4455book2yestbutton div a.cmh,
#i4460book3yestbutton div a.cmh,
#i4381book4button div a.cm,
#i4378book3button div a.cm,
#i4465book4yestbutton div a.cmh,
#i3939book1button div a.cm,
#i4475book6yestbutton div a.cm,
#i4470book5yestbutton div a.cmh,
#i4480book7yestbutton div a.cm,
#i4455book2yestbutton div a.cm,
#i4450book1yestbutton div a.cmh,
#i4366book2button div a.cm,
#i4460book3yestbutton div a.cm,
#i4381book4button div a.cmh  {
   background-position: -368px 0%;
}

#book2scrollform div fieldset div.centerac *,
#book4scrollform div fieldset div.centerac *,
#book1scrollform div fieldset div.centerac *,
#book4yestscrollform div fieldset div.centerac *,
#book5yestscrollform div fieldset div.centerac *,
#book6yestscrollform div fieldset div.centerac *,
#book7yestscrollform div fieldset div.centerac *,
#book2yestscrollform div fieldset div.centerac *,
#book3yestscrollform div fieldset div.centerac *,
#book3scrollform div fieldset div.centerac *,
#book1yestformscroll div fieldset div.centerac *  {
   min-width: 97px;
}

#book5yestscrollform div fieldset *:last-child,
#book3scrollform div fieldset *:last-child,
#book6yestscrollform div fieldset *:last-child,
#book1scrollform div fieldset *:last-child,
#book3yestscrollform div fieldset *:last-child,
#book4yestscrollform div fieldset *:last-child,
#book2scrollform div fieldset *:last-child,
#book4scrollform div fieldset *:last-child,
#book2yestscrollform div fieldset *:last-child,
#book7yestscrollform div fieldset *:last-child,
#book1yestformscroll div fieldset *:last-child  {
   padding-bottom: 0;
}

#i999yesterdayboothbookbutton a.nmh,
#i1005tomorrowboothbookbutton a.pmh,
#i1005tomorrowboothbookbutton a.nmh,
#i1005tomorrowboothbookbutton a:hover,
#i5874tomorrowboothbookbutton a.nmh,
#i5875yesterdayboothbookbutton a:hover,
#i999yesterdayboothbookbutton a.pm,
#i5874tomorrowboothbookbutton a:hover,
#i999yesterdayboothbookbutton a:hover,
#i1005tomorrowboothbookbutton a.pm,
#i5875yesterdayboothbookbutton a.nmh,
#i999yesterdayboothbookbutton a.pmh  {
   background-position: -262px 0%;
}

#i999yesterdayboothbookbutton a.cmh,
#i1005tomorrowboothbookbutton a.cmh,
#i999yesterdayboothbookbutton a.cm,
#i1005tomorrowboothbookbutton a.cm  {
   background-position: -524px 0%;
}

#i316boothsbutton,
#partiesbutton,
#buttonbgbutton,
#vipbutton,
#i298eventsbutton,
#guestbutton  {
   z-index: 8;
}

#homebutton,
#i655contactbutton,
#gallerybutton,
#i252privatebutton,
#i247clubbutton  {
   z-index: 9;
}

#i6120yesterdaybooth6 > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_booths_media/d6120yesterdaybooth6.gif);
   height: 121px;
   width: 120px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#seats1510minimum > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_booths_media/seats1510minimum.gif);
   height: 27px;
   width: 81px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#i7780allboothscanbebookedonlin  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 12px;
   width: 698px;
   z-index: 30;
   top: 654px;
   left: 162px;
   position: absolute;
   overflow: hidden;
}

#i7916completetheformbelowtobed  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 91px;
   width: 286px;
   z-index: 103;
   top: 167px;
   left: 632px;
   position: absolute;
   overflow: hidden;
}

#i8004completetheformbelowtobed  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 91px;
   width: 294px;
   z-index: 64;
   top: 167px;
   left: 628px;
   position: absolute;
   overflow: hidden;
}

#i7935completetheformbelowtobed  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 91px;
   width: 343px;
   z-index: 46;
   top: 167px;
   left: 601px;
   position: absolute;
   overflow: hidden;
}

#i7790allboothscanbebookedonlin  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 12px;
   width: 698px;
   z-index: 12;
   top: 653px;
   left: 164px;
   position: absolute;
   overflow: hidden;
}

#i3916booth4 > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_booths_media/d3916booth4.gif);
   height: 14px;
   width: 48px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#makethenightreallyspecial  {
   margin-top: 0px;
   margin-left: 0px;
   width: 624px;
   z-index: 8;
   top: 595px;
   left: 308px;
   position: absolute;
}

#copyrightfaces2013privacy  {
   z-index: 5;
}

#i323vectorsmartobject  {
   background-image: url(sg_booths_media/d323vectorsmartobject.gif);
   z-index: 8;
}

#i7918yesterdaybooth7  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 321px;
   width: 298px;
   z-index: 71;
   top: 311px;
   left: 625px;
   position: absolute;
   overflow: hidden;
}

#i7882yesterdaybooth2  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 229px;
   width: 302px;
   z-index: 98;
   top: 360px;
   left: 624px;
   position: absolute;
   overflow: hidden;
}

#i6120yesterdaybooth6  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 121px;
   width: 120px;
   z-index: 30;
   top: 397px;
   left: 386px;
   position: absolute;
   overflow: hidden;
}

#i7919yesterdaybooth1  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 229px;
   width: 300px;
   z-index: 104;
   top: 364px;
   left: 624px;
   position: absolute;
   overflow: hidden;
}

#i6121yesterdaybooth7  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 147px;
   width: 118px;
   z-index: 30;
   top: 400px;
   left: 537px;
   position: absolute;
   overflow: hidden;
}

#i6115yesterdaybooth1  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 115px;
   width: 123px;
   z-index: 30;
   top: 205px;
   left: 237px;
   position: absolute;
   overflow: hidden;
}

#i6125tomorrowbooth3  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 114px;
   width: 117px;
   z-index: 14;
   top: 287px;
   left: 536px;
   position: absolute;
   overflow: hidden;
}

#i8017tomorrowbooth3  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 200px;
   width: 302px;
   z-index: 53;
   top: 370px;
   left: 623px;
   position: absolute;
   overflow: hidden;
}

#i6124tomorrowbooth2  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 116px;
   width: 117px;
   z-index: 14;
   top: 286px;
   left: 389px;
   position: absolute;
   overflow: hidden;
}

#i8011tomorrowbooth1  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 198px;
   width: 298px;
   z-index: 65;
   top: 375px;
   left: 626px;
   position: absolute;
   overflow: hidden;
}

#i252privatebutton a  {
   background-image: url(sg_club_media/d252privatebutton.gif);
}

#i655contactbutton a  {
   background-image: url(sg_booths_media/d655contactbutton.gif);
}

#i298eventsbutton a  {
   background-image: url(sg_booths_media/d298eventsbutton.gif);
}

#i316boothsbutton a  {
   background-image: url(sg_booths_media/d316boothsbutton.gif);
}

#i282drinksbutton a  {
   background-image: url(sg_booths_media/d282drinksbutton.gif);
}

#i247clubbutton a  {
   background-image: url(sg_booths_media/d247clubbutton.gif);
}

#buttonbgbutton a  {
   background-image: url(sg_booths_media/buttonbgbutton.gif);
}

#seats1510minimum  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 27px;
   width: 81px;
   z-index: 25;
   top: 293px;
   left: 698px;
   position: absolute;
   overflow: hidden;
}

#gallerybutton a  {
   background-image: url(sg_club_media/gallerybutton.gif);
}

#partiesbutton a  {
   background-image: url(sg_booths_media/partiesbutton.gif);
}

#i1600guestlist  {
   background-image: url(sg_booths_media/d1600guestlist.gif);
   z-index: 7;
}

#guestbutton a  {
   background-image: url(sg_booths_media/guestbutton.gif);
}

#i1598parties  {
   background-image: url(sg_booths_media/d1598parties.gif);
   z-index: 7;
}

#i1010graphic  {
   background-repeat: no-repeat;
   background-image: url(sg_booths_media/d1010graphic.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 85px;
   width: 666px;
   z-index: 7;
   top: 567px;
   left: 289px;
   position: absolute;
}

#i3915graphic  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 148px;
   width: 126px;
   z-index: 24;
   top: 282px;
   left: 677px;
   position: absolute;
   overflow: hidden;
}

#i3935graphic  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 147px;
   width: 126px;
   z-index: 15;
   top: 282px;
   left: 237px;
   position: absolute;
   overflow: hidden;
}

#homebutton a  {
   background-image: url(sg_club_media/homebutton.gif);
}

#vipbutton a  {
   background-image: url(sg_booths_media/vipbutton.gif);
}

#i4448booth1  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 147px;
   width: 126px;
   z-index: 33;
   top: 200px;
   left: 235px;
   position: absolute;
   overflow: hidden;
}

#i1599booths  {
   background-image: url(sg_booths_media/d1599booths.gif);
   z-index: 7;
}

#i4462booth4  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 148px;
   width: 126px;
   z-index: 41;
   top: 200px;
   left: 675px;
   position: absolute;
   overflow: hidden;
}

#i3916booth4  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 14px;
   width: 48px;
   z-index: 25;
   top: 410px;
   left: 717px;
   position: absolute;
   overflow: hidden;
}

#i3936booth1  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 15px;
   width: 45px;
   z-index: 16;
   top: 409px;
   left: 278px;
   position: absolute;
   overflow: hidden;
}

#layer9copy4  {
   background-image: url(sg_booths_media/layer9copy4.gif);
}

#seats5copy  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 11px;
   width: 57px;
   z-index: 42;
   top: 211px;
   left: 712px;
   position: absolute;
   overflow: hidden;
}

#i476events  {
   background-image: url(sg_booths_media/d476events.gif);
   z-index: 7;
}

#i386drinks  {
   background-image: url(sg_booths_media/d386drinks.gif);
}

#footerbar  {
   z-index: 4;
}

#layer35  {
   background-repeat: no-repeat;
   background-image: url(sg_booths_media/layer35.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 612px;
   width: 405px;
   z-index: 5;
   top: 0px;
   left: 239px;
   position: absolute;
}

#i443vip  {
   background-image: url(sg_booths_media/d443vip.gif);
   z-index: 7;
}

#layer15  {
   z-index: 7;
}

#lshape  {
   background-image: url(sg_booths_media/lshape.gif);
   z-index: 6;
}

#booth7  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 148px;
   width: 126px;
   z-index: 42;
   top: 396px;
   left: 533px;
   position: absolute;
   overflow: hidden;
}

