#i9807contactusformbutton a:hover,
#i9809contactusformbutton a:hover,
#i9807contactusformbutton a.nmh,
#i9807contactusformbutton a.pmh,
#i9807contactusformbutton a.pm,
#i9809contactusformbutton a.nmh  {
   background-position: -285px 0%;
}

#twitterfeedbuttoncopy div a:hover,
#twitterfeedbuttoncopy div a.nmh,
#facebookfeedbuttoncopy div a.nmh,
#facebookfeedbuttoncopy div a:hover  {
   background-position: -71px 0%;
}

#i9807contactusformbutton a.cmh,
#i9807contactusformbutton a.cm  {
   background-position: -570px 0%;
}

#i9777contactbutton div a:hover,
#i9777contactbutton div a.nmh  {
   background-position: -166px 0%;
}

#contactusformform div fieldset div.centerac *  {
   min-width: 96px;
}

#contactusformform div fieldset *:last-child  {
   padding-bottom: 0;
}

#faceswolverhamptonbilston > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_contact_media/faceswolverhamptonbilston.gif);
   height: 108px;
   width: 114px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#contactusformform div input[type=submit]  {
   padding: 0px;
   color: #000 !important;
}

#i9780contact > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_contact_media/d9780contact.gif);
   height: 36px;
   width: 180px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#i9788shape12 > div:first-child  {
   background-repeat: no-repeat;
   background-image: url(sg_contact_media/d9788shape12.gif);
   height: 581px;
   width: 386px;
   display: block;
   position: relative;
   margin: 0px;
   padding: 0px;
   left: 0px;
   top: 0px;
}

#emailinfofaceswolverhampt  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 32px;
   width: 206px;
   z-index: 13;
   top: 318px;
   left: 555px;
   position: absolute;
   overflow: hidden;
}

#faceswolverhamptonbilston  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 108px;
   width: 114px;
   z-index: 13;
   top: 182px;
   left: 556px;
   position: absolute;
   overflow: hidden;
}

#facebookfeedbuttoncopy  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 71px;
   width: 71px;
   z-index: 14;
   top: 233px;
   left: 761px;
   position: absolute;
   overflow: hidden;
}

#twitterfeedbuttoncopy  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 71px;
   width: 71px;
   z-index: 13;
   top: 172px;
   left: 760px;
   position: absolute;
   overflow: hidden;
}

#i323vectorsmartobject  {
   background-image: url(sg_contact_media/d323vectorsmartobject.gif);
}

#i655contactbutton a  {
   background-image: url(sg_contact_media/d655contactbutton.gif);
}

#i252privatebutton a  {
   background-image: url(sg_contact_media/d252privatebutton.gif);
}

#i316boothsbutton a  {
   background-image: url(sg_contact_media/d316boothsbutton.gif);
}

#i282drinksbutton a  {
   background-image: url(sg_contact_media/d282drinksbutton.gif);
}

#i298eventsbutton a  {
   background-image: url(sg_contact_media/d298eventsbutton.gif);
}

#contactusformform  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   width: 385px;
   z-index: 13;
   top: 173px;
   left: 111px;
   position: absolute;
   overflow: hidden;
}

#i9800faceswolves  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 11px;
   width: 65px;
   z-index: 13;
   top: 259px;
   left: 840px;
   position: absolute;
   overflow: hidden;
}

#i298eventsbutton  {
   z-index: 8;
}

#i9803layer33copy  {
   background-repeat: no-repeat;
   background-image: url(sg_contact_media/d9803layer33copy.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 163px;
   width: 239px;
   z-index: 6;
   top: 252px;
   left: 529px;
   position: absolute;
}

#i9799faceswolves  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 12px;
   width: 72px;
   z-index: 13;
   top: 198px;
   left: 837px;
   position: absolute;
   overflow: hidden;
}

#buttonbgbutton a  {
   height: 263px;
   width: 149px;
   background-image: url(sg_contact_media/buttonbgbutton.gif);
}

#i247clubbutton a  {
   background-image: url(sg_contact_media/d247clubbutton.gif);
}

#gallerybutton a  {
   background-image: url(sg_contact_media/gallerybutton.gif);
}

#partiesbutton a  {
   background-image: url(sg_contact_media/partiesbutton.gif);
}

#buttonbgbutton  {
   height: 263px;
   width: 149px;
   left: 90px;
}

#i1600guestlist  {
   background-image: url(sg_contact_media/d1600guestlist.gif);
}

#guestbutton a  {
   background-image: url(sg_contact_media/guestbutton.gif);
}

#mapxmediacopy  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   width: 364px;
   z-index: 13;
   top: 422px;
   left: 558px;
   position: absolute;
   overflow: hidden;
}

#i1598parties  {
   background-image: url(sg_contact_media/d1598parties.gif);
}

#i9788shape12  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 581px;
   width: 386px;
   z-index: 10;
   top: 100px;
   left: 542px;
   position: absolute;
   overflow: hidden;
}

#i9780contact  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 36px;
   width: 180px;
   z-index: 13;
   top: 118px;
   left: 111px;
   position: absolute;
   overflow: hidden;
}

#homebutton a  {
   background-image: url(sg_contact_media/homebutton.gif);
}

#vipbutton a  {
   background-image: url(sg_contact_media/vipbutton.gif);
}

#layer9copy4  {
   background-image: url(sg_contact_media/layer9copy4.gif);
}

#i1599booths  {
   background-image: url(sg_contact_media/d1599booths.gif);
}

#i476events  {
   background-image: url(sg_contact_media/d476events.gif);
   z-index: 7;
}

#i386drinks  {
   background-image: url(sg_contact_media/d386drinks.gif);
}

#i9774oct  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 90px;
   width: 244px;
   z-index: 13;
   top: 12px;
   left: 381px;
   position: absolute;
   overflow: hidden;
}

#layer26  {
   background-repeat: no-repeat;
   background-image: url(sg_contact_media/layer26.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 717px;
   width: 441px;
   z-index: 6;
   top: 48px;
   left: 0px;
   position: absolute;
}

#i443vip  {
   background-image: url(sg_contact_media/d443vip.gif);
}

#findus  {
   margin-top: 0px;
   margin-left: 0px;
   display: none;
   height: 29px;
   width: 93px;
   z-index: 11;
   top: 120px;
   left: 559px;
   position: absolute;
   overflow: hidden;
}

#lshape  {
   background-image: url(sg_contact_media/lshape.gif);
}

.mapxmediacopy *  {
   font-family: BodegaSans-Black, "Bodega Sans- Black";
   font-size: 14px;
   line-height: 30px;
   letter-spacing: 0px;
   text-decoration: none;
   color: #000000;
}

