#i7758close > div:first-child,
#i9822close > div:first-child,
#i7775close > div:first-child,
#i9846close > div:first-child,
#i7740close > div:first-child,
#i9861close > div:first-child,
#i7616close > div:first-child  {
   background-image: url(sg_club_media/d9885close.gif);
}

#guestbutton,
#homebutton,
#i247clubbutton,
#gallerybutton,
#i252privatebutton,
#i655contactbutton  {
   z-index: 12;
}

#buttonbgbutton,
#i298eventsbutton,
#i282drinksbutton  {
   z-index: 11;
}

#i316boothsbutton,
#partiesbutton  {
   z-index: 14;
}

#i11340privateformbutton a  {
   background-image: url(sg_guest_media/d11340privateformbutton.gif);
}

#i1064thursdayslbbutton a  {
   background-image: url(sg_guest_media/d1064thursdayslbbutton.gif);
}

#i1067thursdayslbbutton a  {
   background-image: url(sg_guest_media/d1067thursdayslbbutton.gif);
}

#i323vectorsmartobject  {
   background-image: url(sg_guest_media/d323vectorsmartobject.gif);
}

#i3631boothsbutton a  {
   background-image: url(sg_guest_media/d3631boothsbutton.gif);
}

#saturdayslbbutton a  {
   background-image: url(sg_guest_media/saturdayslbbutton.gif);
}

#i3632boothsbutton a  {
   background-image: url(sg_guest_media/d3632boothsbutton.gif);
}

#i316boothsbutton a  {
   background-image: url(sg_guest_media/d316boothsbutton.gif);
}

#specialslbbutton a  {
   background-image: url(sg_guest_media/specialslbbutton.gif);
}

#i298eventsbutton a  {
   background-image: url(sg_guest_media/d298eventsbutton.gif);
}

#i282drinksbutton a  {
   background-image: url(sg_guest_media/d282drinksbutton.gif);
}

#i11338layer33copy  {
   background-image: url(sg_guest_media/d11338layer33copy.gif);
}

#fridayslbbutton a  {
   background-image: url(sg_guest_media/fridayslbbutton.gif);
}

#partiesbutton a  {
   background-image: url(sg_guest_media/partiesbutton.gif);
}

#i1600guestlist  {
   background-image: url(sg_guest_media/d1600guestlist.gif);
}

#guestbutton a  {
   background-image: url(sg_guest_media/guestbutton.gif);
}

#i1598parties  {
   background-image: url(sg_guest_media/d1598parties.gif);
}

#i3629layer49  {
   background-image: url(sg_guest_media/d3629layer49.gif);
}

#i1599booths  {
   background-image: url(sg_guest_media/d1599booths.gif);
}

#vipbutton a  {
   background-image: url(sg_guest_media/vipbutton.gif);
}

#shadowcopy2  {
   background-image: url(sg_guest_media/shadowcopy2.gif);
}

#i386drinks  {
   background-image: url(sg_guest_media/d386drinks.gif);
}

#i476events  {
   background-image: url(sg_guest_media/d476events.gif);
}

#shadowcopy  {
   background-image: url(sg_guest_media/shadowcopy.gif);
}

#vipbutton  {
   z-index: 10;
}

#i443vip  {
   background-image: url(sg_guest_media/d443vip.gif);
}

#shadow  {
   background-image: url(sg_guest_media/shadow.gif);
}

#lshape  {
   background-image: url(sg_guest_media/lshape.gif);
}

#backr  {
   background-image: url(sg_guest_media/backr.gif);
}

