#i247clubbutton,
#copyrightfaces2013privacy,
#i252privatebutton,
#homebutton,
#i282drinksbutton,
#gallerybutton,
#i655contactbutton  {
   z-index: 10;
}

#vipbutton a.nmh,
#vipbutton a:hover  {
   background-position: -108px 0%;
}

#footerbar,
#buttonbgbutton  {
   z-index: 9;
}

#takethefacesexperiencetot  {
   margin-top: 0px;
   margin-left: 0px;
   width: 609px;
   z-index: 10;
   top: 560px;
   left: 325px;
   position: absolute;
}

#i323vectorsmartobject  {
   background-image: url(sg_vip_media/d323vectorsmartobject.gif);
   z-index: 9;
}

#i282drinksbutton a  {
   background-image: url(sg_vip_media/d282drinksbutton.gif);
}

#i316boothsbutton a  {
   background-image: url(sg_vip_media/d316boothsbutton.gif);
}

#i298eventsbutton a  {
   background-image: url(sg_vip_media/d298eventsbutton.gif);
}

#i6200privatebutton  {
   margin-top: 0px;
   margin-left: 0px;
   height: 48px;
   width: 62px;
   z-index: 11;
   top: 607px;
   left: 878px;
   position: absolute;
}

#i6198vip22ndpic  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/d6198vip22ndpic.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 295px;
   width: 395px;
   z-index: 9;
   top: 214px;
   left: 597px;
   position: absolute;
}

#partiesbutton a  {
   background-image: url(sg_vip_media/partiesbutton.gif);
}

#i1600guestlist  {
   background-image: url(sg_vip_media/d1600guestlist.gif);
}

#guestbutton a  {
   background-image: url(sg_vip_media/guestbutton.gif);
}

#i1598parties  {
   background-image: url(sg_vip_media/d1598parties.gif);
}

#i1092graphic  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/d1092graphic.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 118px;
   width: 680px;
   z-index: 9;
   top: 544px;
   left: 283px;
   position: absolute;
}

#vipbutton a  {
   height: 137px;
   width: 108px;
   background-image: url(sg_vip_media/vipbutton.gif);
}

#shape10copy  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/shape10copy.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 312px;
   width: 413px;
   z-index: 8;
   top: 205px;
   left: 588px;
   position: absolute;
}

#i1599booths  {
   background-image: url(sg_vip_media/d1599booths.gif);
}

#i476events  {
   background-image: url(sg_vip_media/d476events.gif);
}

#i386drinks  {
   background-image: url(sg_vip_media/d386drinks.gif);
   z-index: 9;
}

#enquiries  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/enquiries.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 15px;
   width: 97px;
   z-index: 10;
   top: 622px;
   left: 770px;
   position: absolute;
}

#vipbutton  {
   height: 137px;
   width: 108px;
   top: 33px;
   left: 513px;
}

#viproom  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/viproom.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 264px;
   width: 375px;
   z-index: 7;
   top: 179px;
   left: 300px;
   position: absolute;
}

#i443vip  {
   background-image: url(sg_vip_media/d443vip.gif);
}

#layer53  {
   z-index: 8;
}

#shape10  {
   background-repeat: no-repeat;
   background-image: url(sg_vip_media/shape10.gif);
   margin-top: 0px;
   margin-left: 0px;
   height: 278px;
   width: 388px;
   z-index: 6;
   top: 172px;
   left: 293px;
   position: absolute;
}

#lshape  {
   background-image: url(sg_vip_media/lshape.gif);
}

