.contactus p a  {
   display: inline;
}

.contactus li  {
   margin: 0px;
   color: #FFFFFF;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 0px;
   line-height: 43px;
   font-style: normal;
   font-weight: normal;
   font-size: 36px;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

.contactus p  {
   margin: 0px;
   color: #FFFFFF;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 0px;
   line-height: 43px;
   font-style: normal;
   font-weight: normal;
   font-size: 36px;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

