.i2585musicvideosmetadata p a  {
   display: inline;
}

.i2585musicvideosmetadata li  {
   margin: 0px;
   color: #000000;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 0px;
   line-height: 29px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   font-family: MyriadPro-Regular, "Myriad Pro", sans-serif;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: center;
}

.i2585musicvideosmetadata p  {
   margin: 0px;
   color: #000000;
   text-decoration: none;
   font-variant: normal;
   letter-spacing: 0px;
   line-height: 29px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   font-family: MyriadPro-Regular, "Myriad Pro", sans-serif;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: center;
}

