#i1789musicvideos  {
   position: absolute;
   left: 60px;
   top: 473px;
   z-index: 6;
   width: 167px;
   height: 27px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/d1789musicvideos.png);
   background-repeat: no-repeat;
}

