#layer15  {
   position: absolute;
   left: 35px;
   top: 137px;
   z-index: 4;
   width: 630px;
   height: 343px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/layer15.png);
   background-repeat: no-repeat;
}

