#vimeobutton a:hover  {
   background-position: -70px 0%;
}

#vimeobutton a.nmh  {
   background-position: -70px 0%;
}

#vimeobutton a  {
   background-image: url(sg_index_media/vimeobutton.png);
   background-repeat: no-repeat;
   display: block;
   height: 70px;
   width: 70px;
   font-size: 70px;
   line-height: 70px;
}

#vimeobutton  {
   position: absolute;
   left: 929px;
   top: 186px;
   z-index: 4;
   width: 70px;
   height: 70px;
   margin-left: 0px;
   margin-top: 0px;
}

a.nm  {
   background-position: 0px 0px;
}

