.i1444productdisplaymetadata p a  {
   display: inline;
}

.i1444productdisplaymetadata li  {
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   font-style: normal;
   line-height: 22px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #FCFBFB;
   padding-bottom: 0px;
   padding-top: 20px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

.i1444productdisplaymetadata p  {
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-weight: bold;
   font-style: normal;
   line-height: 22px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #FCFBFB;
   padding-bottom: 0px;
   padding-top: 20px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

