#i1820musicvideos  {
   position: absolute;
   left: 76px;
   top: 531px;
   z-index: 6;
   width: 380px;
   height: 312px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/d1820musicvideos.png);
   background-repeat: no-repeat;
}

