#shape4copy  {
   position: absolute;
   left: 22px;
   top: 475px;
   z-index: 4;
   width: 983px;
   height: 408px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_shows_media/shape4copy.png);
   background-repeat: no-repeat;
}

