.i618showsmainflyermetadata p a  {
   display: inline;
}

.i618showsmainflyermetadata li  {
   margin: 0px;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   line-height: 14px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #000000;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

.i618showsmainflyermetadata p  {
   margin: 0px;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   line-height: 14px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #000000;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: left;
}

