body, p  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h4  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h6  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h5  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h1  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h2  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

h3  {
   font-family: HamburgerHeaven, "Hamburger Heaven";
}

