#i1767rklogo  {
   position: absolute;
   left: -174px;
   top: 4px;
   z-index: 3;
   width: 1525px;
   height: 908px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/d1767rklogo.png);
   background-repeat: no-repeat;
}

