#shape2  {
   position: absolute;
   left: 467px;
   top: 611px;
   z-index: 6;
   width: 156px;
   height: 73px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_index_media/shape2.png);
   background-repeat: no-repeat;
}

