body, p  {
   font-family: Franchise-Bold, Franchise;
}

h4  {
   font-family: Franchise-Bold, Franchise;
}

h6  {
   font-family: Franchise-Bold, Franchise;
}

h5  {
   font-family: Franchise-Bold, Franchise;
}

h1  {
   font-family: Franchise-Bold, Franchise;
}

h2  {
   font-family: Franchise-Bold, Franchise;
}

h3  {
   font-family: Franchise-Bold, Franchise;
}

