.i611showsmainflyermetadata p a  {
   display: inline;
}

.i611showsmainflyermetadata li  {
   margin: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: center;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   line-height: 22px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #F1F1F1;
}

.i611showsmainflyermetadata p  {
   margin: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 0px;
   padding-left: 0px;
   text-indent: 0px;
   text-align: center;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   font-size: 18px;
   font-weight: normal;
   font-style: normal;
   line-height: 22px;
   letter-spacing: 0px;
   font-variant: normal;
   text-decoration: none;
   color: #F1F1F1;
}

