#layer15copy  {
   position: absolute;
   left: 36px;
   top: 493px;
   z-index: 5;
   width: 970px;
   height: 386px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/layer15copy.png);
   background-repeat: no-repeat;
}

