#calendarmonthsmenu > ul > li > a  {
   display: inline;
}

#calendarmonthsmenu ul li a  {
   padding-bottom: 3px;
   padding-top: 3px;
   line-height: 23px;
   height: 100%;
   padding-left: 0.44em;
   padding-right: 0.44em;
}

#calendarmonthsmenu ul li  {
   height: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
}

#calendarmonthsmenu ul  {
   height: 23px;
   margin: 0px;
   padding: 0px;
   line-height: 23px;
   font-size: 17px;
   font-family: HamburgerHeaven, "Hamburger Heaven";
   text-align: left;
}

#calendarmonthsmenu  {
   position: absolute;
   left: 525px;
   top: 530px;
   z-index: 5;
   margin-left: 0px;
   margin-top: 0px;
}

.c_b * a  {
   color: #000000;
}

.fl li *  {
   display: inline;
}

.fl li a  {
   display: inline;
}

.fl li  {
   float: left;
}

