#i1785photos  {
   position: absolute;
   left: 60px;
   top: 118px;
   z-index: 5;
   width: 85px;
   height: 27px;
   margin-left: 0px;
   margin-top: 0px;
   background-image: url(sg_media_media/d1785photos.png);
   background-repeat: no-repeat;
}

