.impress-not-supported .slide_s { margin:NILNIL auto; }

.hint_colors { color: #; background-color: #; }
.hint_colors { color: rgba(NIL, NIL, NIL, NIL); background-color: rgba(NIL, NIL, NIL, NIL); }

.impresto_hint { NIL:NILpx; }

