@charset "utf-8";
/* CSS Document */
body {
	width:100%;
	height:100vh;
	overflow:hidden;
	margin: 0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#178a11;
	background-color:#000;
	font-size:16px/2.5;
}

.err{
	color:red;
}

.main {
	height:100%;
	width:100%;
}

a {
	text-decoration:none;
	color:#178a11;
}

a:hover {
	text-decoration:underline;
	color:#0f0;
}

h1 {

	margin: 25px 10px;
}

h2 {
	color:#999999;
	margin:0px;
	padding:10px;
	font-size:36px/2.5;
}

textarea, input, button {
	background-color:#000;
	color:#178a11;
	border:#178a11 solid 1px;	
}

section li {
	padding:2px;
	text-align:left;
	width:415px;
}

#menu0 button, #menu1 button {
	float: right;
}

#menu5 label {
	width:140px;
	display:block;
}

#menu5 li, #menu5 form {
	width:290px;
}

#menu5 form {
	float: left;
}

button:hover{
	background-color:#178a11;
	color:#000;
}

table, thead, tbody, tr {
	width:100%;
}

section {
	text-align:left;
	height:100%;
	width:51%;
	float: left;
	background-color:#000500;
}

td, th {
	padding: 10px 0px;
	margin: 10px 5px;
	height:30px;
	text-align:center;
}

#art4 td, #art4 th ,.review td, .review th{
	font-size:11px !important;
}

td {
	margin:10px;
	border-top: 2px solid #178a11;
	font-size:36px/2.5;
}

#assignTo {
	width:30px;
}
aside {
	background-image: 
        linear-gradient(#000500, #262727),
        linear-gradient(#000500, #262727)
    ;
    background-size:10px 100%;
    background-position:0 0, 100% 0;
}

li{
	list-style:none;
}

header {
	width:100%;
	height:140px;
}

footer {
	background-color:#000;
	width:100%;
	position:fixed;
	bottom:0;
	clear:both;
}

footer p {
	float:right;
}

nav {
	float: right;
	margin-right: 10px;
}

.formlabel{
	display: inline-block;
	width: 150px;	
}

.reason label {
	vertical-align: top;
}
#title {
	height:100%;
	width:23%;
	float:left;
	text-align:center;
}

#status {
	width:77%;
	float:right;
	border-top: 10px solid #178a11;
    border-bottom:10px solid #262727;
    background-image: 
        linear-gradient(#178a11, #262727),
        linear-gradient(#178a11, #262727)
    ;
    background-size:10px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}

#lhs {
	float:left;
	height:100%;
	width:23%;
	
}

#rhs {
	height:100%;
	width:25%;
	float:right;
}

#content, #log {
	overflow-y:auto;
	height:56%;
	text-align:center;
	margin-left: 10px;
	border:#178a11 solid 1px;
}

#login ul {
	padding-left:0px;
	text-align: -moz-center;
	text-align: -webkit-center;
}

#login li input {
	width:100%;
}

#login button {
	float: right;
}
